<html lang="en">
<body>
    <form method="post" action="">
        {% csrf_token %}

        <input type="hidden" id="token" name="token" value="{{ token }}" readonly>
        <input type="hidden" id="iv" name="iv" value="{{ iv }}" readonly>

        {% for activity in activities %}
            <label>
                <input type="checkbox" name="activities" value="{{ activity }}" {% if label in selected_activities %} checked="checked" {% endif %} > {{ activity }}
            </label><br>
        {% endfor %}

        <input type="submit" value="Submit">
    </form>
</body>
</html>
